<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d2089215-794b-4d79-ae00-32ff695f3eda/resourcegroups/FinalTaskWebUI20180311094555ResourceGroup/providers/Microsoft.Web/sites/FinalTaskWebUI20180311094555</ResourceId>
    <ResourceGroup>FinalTaskWebUI20180311094555ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://finaltaskwebui20180311094555.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>finaltaskwebui20180311094555.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FinalTaskWebUI20180311094555</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FinalTaskWebUI20180311094555</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FinalTask.Domain.Concrete.AppIdentityDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:finaltaskwebui20180311094555dbserver.database.windows.net,1433;Initial Catalog=FinalTaskWebUI20180311094555_db;User ID=adminuser@finaltaskwebui20180311094555dbserver;Password=27.03.1996vos" Name="Data Source=tcp:finaltaskwebui20180311094555dbserver.database.windows.net,1433;Initial Catalog=FinalTaskWebUI20180311094555_db;User Id=adminuser@finaltaskwebui20180311094555dbserver;Password=27.03.1996vos" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FinalTask.Domain.Concrete.AppIdentityDbContext, FinalTask.Domain" MigrationConfiguration="FinalTask.Domain.Migrations.Configuration, FinalTask.Domain" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IdentityDb" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:finaltaskwebui20180311094555dbserver.database.windows.net,1433;Initial Catalog=FinalTaskWebUI20180311094555_db;User ID=adminuser@finaltaskwebui20180311094555dbserver;Password=27.03.1996vos" Name="Data Source=tcp:finaltaskwebui20180311094555dbserver.database.windows.net,1433;Initial Catalog=FinalTaskWebUI20180311094555_db;User Id=adminuser@finaltaskwebui20180311094555dbserver;Password=27.03.1996vos" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=ApplicationDb;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IdentityDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=ApplicationDb;Integrated Security=True;MultipleActiveResultSets=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="IdentityDb-Web.config Connection String">
      <ParameterValue>data source=tcp:finaltaskwebui20180311094555dbserver.database.windows.net,1433;initial catalog=FinalTaskWebUI20180311094555_db;user id=adminuser@finaltaskwebui20180311094555dbserver;password=27.03.1996vos;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FinalTask.Domain.Concrete.AppIdentityDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:finaltaskwebui20180311094555dbserver.database.windows.net,1433;Initial Catalog=FinalTaskWebUI20180311094555_db;User Id=adminuser@finaltaskwebui20180311094555dbserver;Password=27.03.1996vos</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="FinalTask.Domain.Concrete.AppIdentityDbContext" />
  </ItemGroup>
</Project>